        @keyframes squiggly-anim {
            0% {
                -webkit-filter: url("#squiggly-0");
                filter: url("#squiggly-0");
            }
            25% {
                -webkit-filter: url("#squiggly-1");
                filter: url("#squiggly-1");
            }
            50% {
                -webkit-filter: url("#squiggly-2");
                filter: url("#squiggly-2");
            }
            75% {
                -webkit-filter: url("#squiggly-3");
                filter: url("#squiggly-3");
            }
            100% {
                -webkit-filter: url("#squiggly-4");
                filter: url("#squiggly-4");
            }
        }

        #text {
            font-family: "Jersey 15", sans-serif;
            animation: squiggly-anim 0.5s linear infinite;
        }

        .svg-container {
            width: 0;
            height: 0;
            overflow: hidden;
        }